@model TestePV.Models.Livro

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivroNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroAnoPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivroAnoPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LivroId" class="btn btn-success">Alterar</a>
    <a asp-action="Index" class="btn btn-info" >Voltar</a>
</div>
